.pagination {
  display: flex;
  flex-direction: row;
}

.pagination ul,
.pagination li {
  list-style-type: none !important;
}

.pagination .selected {
  display: none;
}

.pagination {
  gap: 15px;
}

.pagination .disabled {
  display: none !important;
}

.pagination .page-count {
  display: none;
}

.pagination .navigation {
  display: none !important;
}