.pagination {
    display: flex;
    flex-direction: row;
}

.pagination ul, .pagination li {
    list-style-type: none !important;
}

.pagination .selected {
    display: none;
}

.pagination {
    gap: 15px;
}

.pagination .disabled {
    display: none !important;
    }

/* .pagination .a {
    display: none !important;
    } */